#bouler { font-size: larger;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: wavy;
}
body{
background: linear-gradient(rgb(246, 135, 135),rgb(190, 218, 251),rgb(156, 243, 124)); }
#qasida1 { font-size:large;
text-decoration: wavy;
font-family: sans-serif;}    
#peppa{align-self: flex-end;}
.fenster{display: flex; justify-content: center;}
#erstengedicht{align-content: end;}
